@import "variables";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include flex-center;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100%;
  padding: 1rem 2rem;
  font-size: $font-body;
  font-family: "Libre Franklin", sans-serif;

  * {
    text-align: center;
  }
}

.main {
  @include flex-center;
  flex-direction: column;
  padding-top: 7rem 0;
  height: 100vh;

  &__dashboard {
    width: 30rem;
    img {
      width: 100%;
    }
  }

  &__social-media {
    color: $blue;
    display: flex;
    padding-top: 3rem;

    > div {
      @include flex-center;
      width: 2rem;
      height: 2rem;
      border: 1px solid $gray;
      border-radius: 50%;
      padding: 0.5rem;
      cursor: pointer;
      transition: background-color 100ms ease-in-out;
      &:not(:last-child) {
        margin-right: 0.7rem;
      }

      &:hover {
        background-color: $blue;
        color: #fff;
        border: none;
      }
    }

    i {
      font-size: 0.9rem;
    }
  }
  &__copyright {
    font-size: 0.8rem;
    padding: 2rem 0;
  }
}

.hero {
  padding: 2.5rem 0;
  &__title {
    color: $gray;
    font-weight: 300;

    strong {
      color: $veryDarkBlue;
    }
  }

  &__subscribe-message {
    font-size: 0.95rem;
  }

  &__form {
    padding-top: 2rem;
    input {
      width: 20rem;
      padding: 0.8rem 0.9rem;
      text-align: left;
      border: 1px solid $paleBlue;
      border-radius: 2rem;
      outline: none;

      &::placeholder {
        color: $paleBlue;
      }
    }

    button {
      padding: 0.8rem 3rem;
      border-radius: 2rem;
      background-color: $blue;
      border: none;
      font-weight: 600;
      color: #fff;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      cursor: pointer;
    }
  }
}
